<h2>夯爹（KangDaddy）</h2>
<p><img height="80" width="80" src="https://avatars3.githubusercontent.com/u/2897846?v=3&s=460" alt="Joshua" title="Follow me on Twitter @liuchaozhen"  class="img-rounded floatLeft" />			
码农，呆码农，码呆懵农，外人看咱呆，在咱的世界他们连呆都称不上。学生、喷子、码农、基督徒、父亲、驴友，我的世界你真心不懂</p>
<p><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=meshinestar&repo=meshinestar.github.com&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=meshinestar&repo=meshinestar.github.com&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p>
<p><a href="https://twitter.com/liuchaozhen" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @liuchaozhen</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/meshinestar" rel="me" class="social github" title="Github主页" target="_blank"></a></li>
 	  <li><a href="http://www.linkedin.com/pub/joshua-liu/8a/a75/3a2" rel="me" class="social linkedin" title="LinkedIn" target="_blank"></a></li>
	  <!-- <li><a href="http://www.twitter.com/liuchaozhen" rel="me" class="social twitter" title="Go to twitter.com/liuchaozhen" target="_blank"></a></li> -->
	  <!-- <li><a href="http://feeds.feedburner.com/github/xmyo" rel="me" class="social rss" title="Go to feedburner liuchaozhen rss feed" target="_blank"></a></li>  -->
	  <!-- <li><a href="https://plus.google.com/u/0/113269733525366160215" rel="me" class="social gplus" title="追我到Google+" target="_blank"></a></li>  -->
	  <li><a href="mailto:liuchaozhenyu@gmail.com" rel="me" class="social mail" title="给我留言"  target="_blank"></a></li>
	</ul>
</p>