<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="row">
                <div class="span8 columns">
                    <a class="brand motto" href="http://fooyou.github.io">书亚博园</a>
                </div>
                <div class="span3 columns">
                    <a class="linkitem" href="{{site.baseurl | prepend:site.url}}/atom.xml">RSS</a>
                </div>
            </div>
        </div>
    </div>
</div>
