<script type="text/javascript">
	// //* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	// var disqus_shortname = 'meshinestar'; // required: replace example with your forum shortname
	// var disqus_identifier = '{{ page.url }}';
	// var disqus_url = 'http://fooyou.github.io{{ page.url }}';
	// //* * * DON'T EDIT BELOW THIS LINE * * */
	// (function () {
	// 	var s = document.createElement('script'); s.async = true;
	// 	s.type = 'text/javascript';
	// 	s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
	// 	(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	// }());
</script>

<div class="row">
    <div class="span12 column">
        <p><h1>{{ page.title }}</h1></p>
    </div>
</div>
<div class="row">
    <div class="span12 column">
        <h5><strong>{{ page.date | date: "%Y-%m-%d" }} <small>. {{ page.category }} . <a href="http://fooyou.github.io{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.url }}">评论</a></small></strong>
        <br/><small>标签: {% for tag in page.tags %} <a href="/tags/{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;"><u>{{ tag }}</u></a>  {% if forloop.last != true %} {% endif %} {% endfor %} </small><br/><br/>
    </div>
</div>
<div class="row">
    <div class="span6 column">
    </div>
    <div class="span3 column">
        <p class="pull-right">{% if page.previous.url %} <a href="{{page.previous.url}}" title="上一篇: {{page.previous.title}}"><i class="icon-chevron-left"></i></a> 	{% endif %}   {% if page.next.url %} 	<a href="{{page.next.url}}" title="下一篇: {{page.next.title}}"><i class="icon-chevron-right"></i></a> 	{% endif %} </p>
    </div>
</div>