---
layout: default
---

<link rel="stylesheet" href="/css/pygments/trac.css">

<!-- 添加公式支持 -->
{% if page.latex == true %}
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=default"></script>
{% endif %}

<div class="content">
    {% include post_header.html %}
    {{ content }}
</div>

<div class="row">
    <div class="span6 column">
    </div>
    <div class="span3 column">
        <br>
        <p class="pull-right">{% if page.previous.url %} <a href="{{page.previous.url}}" title="上一篇: {{page.previous.title}}"><i class="icon-chevron-left"></i></a>   {% endif %}   {% if page.next.url %}    <a href="{{page.next.url}}" title="下一篇: {{page.next.title}}"><i class="icon-chevron-right"></i></a>   {% endif %} </p>
    </div>
</div>

{% if page.comment == true %}
<div class="row">
    <div class="span12 columns">
        <h2>评论</h2>
        <p>欢迎回复，请保证一不跑题二要干净</p>
        <!-- 使用的是外国的disqus评论服务，国内有一个叫多说的评论服务也不错（http://duoshuo.com/） -->
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            //* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'meshinestar';
            
            //* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
</div>
{% endif %}
